body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #3F5EFB;
    background: linear-gradient(16deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}

.appContainer {
    border-radius: 12px;
}